body {
	color: gray;
	font-size: 14px;
	background: #ffffff url(img/wrap_bg.jpg) no-repeat scroll center 0;
	width: 100%;
	display: table;
	font-family: Arial, Verdana, sans-serif;
}

a {
	color: #008b8b;
	outline: none;
}

#header {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	width: 480px;
	background-image: url(img/header.png);
}

#menu {
	margin-top: 20px;
	height: 51px;
	width: 960px;
	background: url(img/menu.png) repeat-x;
}

a#rollover {
	display: block;
	width: 120px;
	height: 51px;
	text-indent: -9999px;
}

a#active {
	display: block;
	width: 120px;
	height: 51px;
	text-indent: -9999px;
	background-position: 0 100%;
}

a#rollover:hover {
	background-position: 0 100%;
}

.home {
	background: url(img/home.png) no-repeat;	
}

.about {
	background: url(img/about.png) no-repeat;	
}

.portfolio {
	background: url(img/portfolio.png) no-repeat;	
}

.service {
	background: url(img/service.png) no-repeat;	
}

.download {
	background: url(img/download.png) no-repeat;	
}

.blog {
	background: url(img/blog.png) no-repeat;	
}

#showcase {
	color: white;
	margin-top: 20px;
	padding-top: 10px;
	height: 300px;
}

#showcasemargin {
	width: 60px;
	height: 300px;
}

#showcasecenter {
	display: block;
	width: 780px;
	height: 300px;
	background: url(img/showcase.png) no-repeat;
	text-indent: -9999px;
}

#pur-content {
	margin-top: 20px;
}

#contentmain {
	margin: 0;
	padding: 0 20px 0px 20px;
	background: url(img/70p.png) repeat;
	min-height: 150px;
}

#contentmain h2 {
	margin: 0;
	padding: 5px 0 5px 0;
	font-size: 16px;
	font-weight: bold;
}

#contentmain li {
	margin: 0;
	padding: 0;
	list-style-type: square;
}

#contentlefttop {
	margin: 0;
	padding: 0;
	width: 540px;
	height: 25px;
	background: url(img/contentlefttop.png) no-repeat;
}

#contentleftbottom {
	margin: 0;
	padding: 0;
	width: 540px;
	height: 25px;
	background: url(img/contentleftbottom.png) no-repeat;
}

#contentrighttop {
	margin: 0;
	padding: 0;
	width: 220px;
	height: 17px;
	background: url(img/contentrighttop.png) no-repeat;
}

#contentrightbottom {
	margin: 0;
	padding: 0;
	width: 220px;
	height: 17px;
	background: url(img/contentrightbottom.png) no-repeat;
}

#footer {
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
	font-size: 12px;
}

/* REQUESTED/USED BY XOOPS */

/* ===== main menu block ===== */
#mainmenu a, #system-block_mainmenu a {
    display:                block;
    margin:                 0;
    padding:                0;
    font-weight:            500;
}

#mainmenu a.menuSub, #system-block_mainmenu a.menuSub {
    background-color:       inherit;
    padding-left:           15px;
    font-size:              12px;
    font-style:             normal;
}

#xo-back { text-align: center; }
/* ===== user menu block ===== */
#system-block_usermenu {}
#usermenu a, #system-block_usermenu a {
    display:                block;
    padding-bottom:         2px;
    font-size:              12px;
    font-style:             normal;
}

#usermenu a:hover, #system-block_usermenu a:hover {}
#usermenu a.menuTop, #system-block_usermenu a.menuTop {}
#usermenu a.highlight, #system-block_usermenu .highlight {
    background-color:       #333;
    color:                  #ff0000;
}

#system-search {
    text-align:             center;
}

#system-search fieldset {
    margin:                 0;
    padding:                0;
}

#system-search input[type=text] {
    width:                  120px;
    margin:                 0;
}

#system-login {
    text-align:             center;
}

#system-login input {
    width:                  120px;
}
/*=========== Règles nécessaires pour les anciens templates des modules ============*/
#usermenu a, #mainmenu a { display: block;}
.xo-canvas-column .menuSub { padding-left: 1em;}

/*============== Styles for system_siteclosed.html =================*/
#xo-siteclose {
    width:                  400px;
    margin:                 100px auto;
    background-color:       #e2e2e2;
    padding:                30px;
    color:                  #000;
    font-size:              1.2em;
    font-weight:            bold;
    text-align:             center;
    border:                 1px solid #666;
}
/*============== Styles for system_redirect.html =================*/
#xo-redirect {
    width:                  780px;
    margin:                 50px auto;
    padding:                1em;
    font-weight:            bold;
    text-align:             center;
}
#xo-redirect .notreload {
    height:                 28px;
    background-color:       inherit;
    padding-top:            2px;
    color:                  #fff;
}
#xo-redirect .notreload a {
    background-color:       inherit;
    color:                  #ff0000;
    font-weight:            bold;
    text-decoration:        none;
}
#xo-redirect .message {
    min-height:             60px;
    background-color:       #f3f3f3;
    padding:                1em;
    color:                  #333;
    font-size:              1.1em;
    text-align:             center;
    border:                 1px solid #666;
}
#xo-redirect .message img{
    padding:                1em;
}

/*============== Styles for pagenav =================*/
#xo-pagenav {
    margin:                 7px 0;
    text-align:             center;
    font-size:              1.05em;
}
#xo-pagenav a {
    text-decoration:        none;
}
#xo-pagenav a:hover {
    color:                  #1251c6;
    background-color:       #c2cdd6;
    border:                 1px solid #fff;
}
.xo-pagact {
    margin:                 0;
    padding:                .2em .5em;
    color:                  #1251c6;
    background-color:       #c2cdd6;
    border:                 1px solid #fff;
}
.xo-counterpage, .xo-pagarrow {
    margin:                 0;
    padding:                .2em .5em;
    color:                  #000;
    background-color:       #fff;
    border:                 1px solid #000;
}
.xo-counterpage:hover {}
.xo-pagarrow {
    letter-spacing:         0.2em;
}